#nav-primary {
  .toggle-animation-left;
  background: @dark-blue;
  display: block;
  height: 100%;
  left: -10000px;
  margin: 0px;
  padding-top: 160px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
}
#nav-primary.toggle {
  left: 0px !important;
}
#collections ul {
  list-style: none;
  margin: 1rem 0rem 0rem 0rem;
  padding: 0px;
}
#collections li {
  margin: 0px;
  padding: 0px;
}
#collections a {
  .sans-serif;
  color: #fff;
  display: block;
  font-size: 2.2rem;
  font-weight: 900;
  padding: 0.6rem 0rem;
  text-decoration: none;
}
#collections a:hover {
  color: @pink;
}
#social ul {
  border-top: dashed 1px @dark-blue-medium;
  list-style: none;
  margin: 7rem 0rem 0rem 0rem;
  padding: 1rem 0rem 0rem 0rem;
  width: 100%;
}
#social li {
  display: inline-block;
  margin: 0rem 0.2rem 0rem 0rem;
  padding: 0px;
  text-align: center;
  vertical-align: center;
  width: 12%;
}
#social a .fa {
  color: @dark-blue-medium;
  font-size: 1.6rem;
}
#social a:hover .fa {
  color: @pink;
}
#overlay {
  background: rgba(255, 255, 255, 0.96);
  height: 100%;
  left: -10000px;
  position: fixed;
  width: 100%;
}
#overlay.toggle {
  left: 0px !important;
  z-index: 2;
}



@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 550px) {

}
@media (max-width: 550px) {

}
@media (min-width: 551px) {
  #collections ul {
    margin: 5rem 0rem 0rem 0rem;
  }
  #collections a {
    font-size: 2rem;
  }
}
@media (min-width: 551px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {
  #nav-primary {
    background: rgba(164, 200, 225, 0.5);
    width: 25%;
  }
  #nav-primary > .container {
    margin: 0rem 2.8rem;
  }
  #collections ul {
    margin: 4rem 0rem 0rem 0rem;
  }
  #collections a {
    color: @dark-blue-medium;
    font-size: 1.48rem;
  }
  #social ul {
    border-top: dashed 1px #fff;
    padding: 1.6rem 0rem 0rem 0rem;
  }
  #social a .fa {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1200px) and (max-width: 1399px) {

}
@media (max-width: 1399px) {

}
@media (min-width: 1400px) {

}
