#content {
  min-height: 300px;
  padding-top: 150px;
}
#product-photos {
  background: @black-light;
}
#product-info {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 3rem;
  grid-template-columns: 7fr 5fr;
  margin-top: 3rem;
}
#product-info > div {
  padding: 0px;
}
#product-description p,
#product-description li {
  font-size: 0.88rem;
  line-height: 1.6rem;
  margin: 0rem 0rem 1rem 0rem;
}
.product-price {
  color: @dark-blue;
  display: inline-block;
  font-size: 2.44rem;
  margin-bottom: 3rem;
}
.product-price > span {
  .sans-serif;
  color: @dark-blue-medium;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
}
#product-add input[type=submit] {
  background-image: url('../img/icon-plus.png');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
#why-login {
  .sans-serif;
  display: inline-block;
  float: right;
  font-size: 0.76rem;
  line-height: 1rem;
  margin-top: 1.52rem;
  text-align: right;
  text-transform: uppercase;
  width: 130px;
}
#value-prop {
  display: grid;
  grid-auto-rows: minmax(120px, auto);
  grid-column-gap: 3rem;
  grid-template-columns: 4fr 4fr 4fr;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
#value-prop p {
  font-size: 0.84rem;
  line-height: 1.2rem;
  margin: 0px;
}
#board > div {
  .grid;
  grid-template-columns: repeat(4, 1fr);
}
#board > div > div {

}
@board-bg: @black-medium;
#board > div > div:nth-child(1) {
  background: darken(@board-bg, 5%);
  grid-row-start: 1;
  grid-row-end: 3;
}
#board > div > div:nth-child(2) {
  background: lighten(@board-bg, 5%);
}
#board > div > div:nth-child(3) {
  background: darken(@board-bg, 10%);
}
#board > div > div:nth-child(4) {
  background: lighten(@board-bg, 10%);
}
#board > div > div:nth-child(5) {
  background: darken(@board-bg, 15%);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
#board > div > div:nth-child(6) {
  background: lighten(@board-bg, 15%);
  grid-row-start: 2;
  grid-row-end: 4;
}
#board > div > div:nth-child(7) {
  background: darken(@board-bg, 20%);
}
#board > div > div:nth-child(8) {
  background: lighten(@board-bg, 20%);
}
#board > div > div:nth-child(9) {
  background: darken(@board-bg, 25%);
  grid-column-start: 2;
  grid-column-end: 4;
}
#board > div > div:nth-child(10) {
  background: lighten(@board-bg, 25%);
}




@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {

}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1200px) and (max-width: 1399px) {

}
@media (max-width: 1399px) {

}
@media (min-width: 1400px) {

}
