#footer {
  margin: 0px;
}
#footer .container {

}

#quality {
  color: @black-medium;
  font-size: 1.36rem;
  line-height: 2.6rem;
  margin: 10rem 0rem;
  text-align: center;
}
#quality footer {
  .sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 0px;
  text-transform: uppercase;
}
#quality footer:before {
  color: @black-medium;
  content: "—";
}
#tc {
  .sans-serif;
  border-top: dashed 1px lighten(@black, 50%);
  color: @black-medium;
  font-size: 0.76rem;
  margin: 0px;
  padding-top: 0.8rem;
}
#tc strong {
  color: @green;
}
#credit {
  margin: 9rem 0rem 3rem 0rem;
  text-align: center;
}
#credit img {
  height: 36px;
  width: auto;
}
#pci {
  padding-bottom: 9rem;
  text-align: center;
}
#pci img {
  height: 48px;
  width: auto;
}
.sk-header-wrapper {
  color: #57728b !important;
}
.intro-text {
  display: none !important;
}
.sk-intro-section {
  background: rgba(164, 200, 225, 0.12) !important;
}
.sk-intro-section .app-name {
  color: #57728b !important;
  font-family: 'Lora', serif !important;
  font-size: 1.12rem !important;
  font-weight: 400 !important;
}
.sk-logo {
  display: none !important;
}
#sk-footer .send {
  color: #d19000 !important;
}




@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {

}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1200px) and (max-width: 1399px) {

}
@media (max-width: 1399px) {

}
@media (min-width: 1400px) {

}
