#footer {
  margin: 0px;
}
#footer .container {

}

#quality {
  color: @black-medium;
  font-size: 1.36rem;
  line-height: 2.6rem;
  margin: 10rem 0rem;
  text-align: center;
}
#quality footer {
  .sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 0px;
  text-transform: uppercase;
}
#quality footer:before {
  color: @black-medium;
  content: "—";
}
#tc {
  .sans-serif;
  border-top: solid 1px @black-light;
  color: @black-medium;
  font-size: 0.76rem;
  margin: 0px;
  padding-top: 0.8rem;
}
#tc strong {
  color: @green;
}
#credit {
  margin: 7rem 0rem 2rem 0rem;
  text-align: center;
}
#credit img {
  height: 36px;
  width: auto;
}
#pci {
  padding-bottom: 7rem;
  text-align: center;
}
#pci img {
  height: 48px;
  width: auto;
}