.grid {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
}
.grid > div {
  border: solid 1px #e0e0e0;
}
.grid-vertical-middle {
  align-self: center;
}
.grid-vertical-bottom {
  align-self: end;
}

.two-col-grid {
  grid-template-columns: 9fr 3fr;
}


.three-col-grid {
  grid-template-columns: 6fr 3fr 3fr;
}