.grid {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
}
.grid > div {
  // border: solid 1px #e0e0e0;
}
.grid-vertical-middle {
  align-self: center;
}
.grid-vertical-bottom {
  align-self: end;
}

.two-col-grid {
  grid-template-columns: 9fr 3fr;
}
.three-col-grid {
  grid-template-columns: 6fr 3fr 3fr;
}
.four-col-grid {
  grid-template-columns: repeat(4, 1fr);
}




@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {

}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {

}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1200px) and (max-width: 1399px) {

}
@media (max-width: 1399px) {

}
@media (min-width: 1400px) {

}
