#header {
  color: #fff;
  position: fixed;
  width: 100%;
}
#msg {
  .sans-serif;
  background-color: lighten(@dark-blue, 8%);
  color: @dark-blue-mono-light;
  font-size: 0.8rem;
  line-height: 36px;
  min-height: 36px;
  text-align: center;
}
#msg strong {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.04rem;
}
#branding {
  background-color: @dark-blue;
  min-height: 100px;
  text-align: center;
  width: 100%;
}
#branding .logo {
  height: 3.6rem;
  margin: 1.2rem 0rem 0rem 0rem;
  width: auto;
}
#account {
  color: #fff;
  position: absolute;
  right: 0;
  z-index: 2;
}
#cart {
  .sans-serif;
  background: #df1995 url('../img/icon-shopping-bag.png') no-repeat;
  background-position: 50% 33%;
  background-size:52px auto;
  color: #fff;
  display: inline-block;
  height: 100px;
  text-align: center;
  width: 100px;
}
#cart:hover {
  background-color: darken(@pink, 10%);
  text-decoration: none;
}
#cart-items {
  color: @dark-blue;
  font-size: 1.12rem;
  font-weight: 600;
  margin-top: 42px;
}
#cart-amount {
  font-size: 0.72rem;
  font-weight: 400;
  margin-top: 13px;
}