@import url('https://fonts.googleapis.com/css?family=Lora|Lato');
/*
  Primary:
  PMS 539 C - #00263a (@dark-blue)

  Secondary/Accent:
  PMS 225 C - #df1995 (@pink)
  PMS 7551 C - #b47e00 (@mustard)

  Primary Monochromatic:
  PMS 539 C - #00263a (@dark-blue)
  PMS 2166 C - #57728b (@dark-blue-mono-medium)
  PMS 243 C - #a4c8e1 (@dark-blue-mono-light)

  Black Monochromatic
  PMS Black 7 C - #3d3935 (@black)
  PMS 2332 C - #8c8985 (@black-medium)
  PMS Cool Gray 1 C - #d9d9d6 (@black-light)

  Green
  PMS 2272 C - #009a17 (@green)
*/
@dark-blue: #00263a;
@dark-blue-medium: #57728b;
@dark-blue-light: #a4c8e1;
@pink: #df1995;
@mustard: #b47e00;
@black: #3d3935;
@black-medium: #8c8985;
@black-light: #d9d9d6;
@green: #009a17;
.sans-serif {
  font-family: Lato, sans-serif;
  letter-spacing: 0.01rem;
}
.serif {
  font-family: Lora, serif;
}
.btn {
  border: none;
  display: block;
}
input[type=submit] {
  .sans-serif;
  .btn;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3rem;
  width: 100%;
}
input[type=submit].primary {
  background: @pink;
  color: #fff;
}
input[type=submit]:hover.primary {
  background: darken(@pink, 10%);
}
.hover-animation-background {
  -moz-transition: background 0.24s ease; 
  -webkit-transition: background 0.24s ease; 
  -o-transition: background 0.24s ease; 
  -ms-transition: background 0.24s ease; 
  transition: background 0.24s ease;
}
.toggle-animation-top {
  -moz-transition: top 0.8s ease; 
  -webkit-transition: top 0.8s ease; 
  -o-transition: top 0.8s ease; 
  -ms-transition: top 0.8s ease; 
  transition: top 0.8s ease;
}
.disable-scroll {
	overflow: hidden !important;
}


html {
  font-size: 16px;
  height: 100%;
}
body {
  .serif;
  background: #fff;
  color: @black-medium;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#page-container {
  height: 100%;
}
h4 {
  .sans-serif;
  border-bottom: dashed 1px lighten(@black, 50%);
  color: @dark-blue-medium;
  font-size: 0.72rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0rem 0rem 1rem 0rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
}
h5 {
  .sans-serif;
  color: @black;
  font-weight: 600;
  margin: 0rem 0rem 0.2rem 0rem;
}
a {
  color: @mustard;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin: 0px auto;
  width: 60%;
}
.container-narrow {
  margin: 0px auto;
  width: 25%;
}
.container-extended {
  margin: 0px auto;
  width: 80%;
}
.pipe {
  border-left: solid 1px @black-light;
  margin: 0rem 0.8rem;
}




@media (max-width: 374px) {

}
@media (min-width: 375px) {

}
@media (min-width: 375px) and (max-width: 413px) {

}
@media (max-width: 413px) {

}
@media (min-width: 414px) {

}
@media (min-width: 414px) and (max-width: 506px) {

}
@media (max-width: 506px) {

}
@media (min-width: 507px) {

}
@media (min-width: 507px) and (max-width: 677px) {

}
@media (max-width: 677px) {

}
@media (min-width: 678px) {
  #sk-holder #sk-messenger-button {
    right: 32px !important;
  }
}
@media (min-width: 678px) and (max-width: 767px) {

}
@media (max-width: 767px) {

}
@media (min-width: 768px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 991px) {

}
@media (min-width: 992px) {

}
@media (min-width: 992px) and (max-width: 1023px)  {

}
@media (max-width: 1023px) {

}
@media (min-width: 1024px) {

}
@media (min-width: 1024px) and (max-width: 1199px) {

}
@media (max-width: 1199px) {

}
@media (min-width: 1200px) {
  #sk-holder #sk-messenger-button {
    right: 44px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {

}
@media (max-width: 1399px) {

}
@media (min-width: 1400px) {

}




@import '_grid.less';
@import '_header.less';
@import '_nav.less';
@import '_content.less';
@import '_footer.less';
