<!DOCTYPE html>
<html lang="en-us">
  <head prefix="og: http://ogp.me/ns/# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/assets/icon-pk.png">
    <link rel="shortcut icon" href="/assets/icon-pk.png">
    <title>Engagement Ring Pouches | Pamela Kay</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="">
    <link rel="canonical" href="http://www.pamela-kay.com/">
    <meta property="fb:app_id" content="">
    <meta property="fb:pages" content="">
    <meta property="og:type" content="product">
    <meta property="og:brand" content="Pamela Kay">
    <meta property="og:site_name" content="Pamela Kay">
    <meta property="og:title" content="Engagement Ring Pouches">
    <meta property="og:description" content="">
    <meta property="og:price:amount" content="25.00">
    <meta property="og:price:currency" content="USD">
    <meta property="og:availability" content="in stock">
    <meta property="og:url" content="http://www.pamela-kay.com/">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <meta property="product:brand" content="Pamela Kay">
    <meta property="product:age_group" content="adult">
    <meta property="product:price" content="25.00">
    <meta property="product:availability" content="instock">
    <meta property="product:product_link" content="">
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@ByPamelaKay">
    <meta name="twitter:title" content="Engagement Ring Pouches">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:label1" content="Price">
    <meta name="twitter:data1" content="$25.00 USD">
    <meta name="twitter:label2" content="Brand">
    <meta name="twitter:data2" content="Pamela Kay">
    <link rel="stylesheet" href="/assets/styles.min.css">
    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3HKXJ');</script> -->
    <!-- End Google Tag Manager -->
  </head>




  <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3HKXJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->




    <header id="header">
      <div id="msg">Use promo code <strong>FREEDOM18</strong> for a 20% discount. Expires&nbsp;7/22/18.</div>

      <div id="account">
        <div id="login">
          Hello, Michael. <a href="#" id="logout">Log Out</a>
        </div>
        <a href="/cart/" id="cart" title="Your shopping bag"><div id="cart-items">20</div><div id="cart-amount">$200.00 USD</div></a>
      </div>

      <button id="hamburger-menu" class="toggle-hamburger-menu hover-animation-background"><span class="icon" alt="Menu" title="Menu"></span></button>
      <div id="branding"><a href="/"><img src="/assets/logo_20171016.png" class="logo" alt="Pamela Kay | Hand Made ~ Like You" title="Pamela Kay | Hand Made ~ Like You"></a></div>
    </header>
    <!--/#header -->




    <nav id="nav-primary">
      <div class="container">
        <section id="collections">
          <ul>
            <li><a href="/collections/ring-pouches/">Ring Pouches</a></li>
            <li><a href="/collections/wallets/">Wallets</a></li>
            <li><a href="/collections/wristlets/">Wristlets</a></li>
          </ul>
        </section>


        <section id="social">
          <ul>
            <li><a href="https://www.instagram.com/pamelakay_co/" target="_blank" id="instagram"><span class="fa fa-instagram"></span></a></li>
            <li><a href="https://www.facebook.com/pamelakay.co/" target="_blank" id="facebook"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://www.pinterest.com/pamelakay_co/" target="_blank" id="pinterest"><span class="fa fa-pinterest"></a></li>
            <li><a href="https://twitter.com/pamelakay_co/" target="_blank" id="twitter"><span class="fa fa-twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/pamela-kay/" target="_blank" id="linkedin"><span class="fa fa-linkedin"></a></li>
          </ul>
        </section>
      </div>
    </nav>
    <!--/#nav-primary -->
    <div id="overlay" class="toggle-hamburger-menu"></div>




    <div id="content">
      <main id="cart" class="container">
        <h1>Your Shopping Bag</h1>
{% if cart.item_count > 0 %}
        <div>
          <form action="/cart" method="post">
            <table>
              <thead>
                <tr>
                  <th class="hide-on-small">Item</th>
                  <th>&nbsp;</th>
                  <th class="hide-on-small">Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th class="hide-on-small">&nbsp;</th>
                </tr>
              </thead>

              <tbody>
  {% for item in cart.items %}

    {% comment %}Determining the handle of the collection that was last seen for the 'continue shopping' link.{% endcomment %}

    {% assign collection_url = item.product.collections.last.url %}
    {% if collection_url == '/collections/frontpage' or collection_url == blank %}
      {% assign collection_url = '/collections/all' %}
    {% endif %}

    {% if forloop.first %}
      {% assign continue_shopping_url = collection_url %}
    {% endif %}
                <tr>
                  <td class="hide-on-small"><a href="{{ collection_url }}{{ item.url }}"><img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" /></a></td>
                  <td><h2 class="delta"><a href="{{ collection_url }}{{ item.url }}">{{ item.title }}</a></h2>
    {% comment %}Line Item Properties{% endcomment %}
    {% assign properties_amount = item.properties | size %}
    {% if properties_amount > 0 %}
                    <p>
                      {% for p in item.properties %}
                        {% unless p.last == blank %}
                          {{ p.first }}:
                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}
                          <br />
                        {% endunless %}
                      {% endfor %}
                    </p>
    {% endif %}
                    <h3 class="epsilon">{{ item.vendor }}</h3>
                  </td>
                  <td class="hide-on-small">{{ item.price | money }}</td>
                  <td><input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" /></td>
                  <td>{{ item.line_price | money }}</td>
                  <td class="hide-on-small"><a href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a></td>
                </tr>
  {% endfor %}
              </tbody>
            </table>

  {% comment %}For the checkout and update buttons to work, they need to use a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.{% endcomment %}
            <div class="column two-thirds flow-opposite right-aligned">
              <h3 class="gamma">Subtotal <em>{{ cart.total_price | money }}</em></h3>
              <a class="hide-on-small" href="{{ continue_shopping_url }}">Continue shopping</a>
              <span class="or hide-on-small">or</span>
              <input type="submit" name="update" value="Update cart" />
              <span class="or">or</span>
              <input type="submit" name="checkout" value="Check out" />
  {% comment %}Paypal and Google checkout buttons{% endcomment %}
    {% if additional_checkout_buttons %}
              <p class="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </p>
    {% endif %}
            </div>

  {% comment %}For the special instructions to be submitted with order, we need to use a name attribute set to 'note'.{% endcomment %}
            <div class="column third flow-opposite left-aligned">
              <p>Special instructions</p>
              <textarea name="note">{{ cart.note }}</textarea>
            </div>
          </form>
        </div>
        <!--/#shopping-bag -->
{% else %}
        <div id="empty-shopping-bag">
          <p>It appears that your shopping bag is currently empty.  You can continue browsing <a href="/collections/all">here</a>.</p>


          <aside id="alternatives" class="container">
            <h4>May we recommend the following:</h4>
            <ul>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href="">See all ring pouches</a></li>
            </ul>
          </aside>
        </div>
        <!--/#empty-shopping-bag -->
{% endif %}
      </main>
    </div>
    <!--/#content -->




    <footer id="footer">
      <div class="container">
        <blockquote id="quality">
          <p><span>&ldquo;</span>When something is personally important to you, you care about its details.  That is <em>exactly</em> why Pamela Kay lifestyle goods are <em>hand made ~ like you</em>.  Each material (with all its imperfections) is meticulously chosen.  The result is a charming personality in each&nbsp;one.<span>&rdquo;</span></p>

          <footer><a href="/pages/about/">Pamela Kay Mallari</a></footer>
        </blockquote>


        <section id="shopsmall">
          <a href="http://shopsmall.com/" target="_blank"><img src="/assets/ShopSmall_Web_Badge_c.png" alt="Shop Small" title="Thank you for your support. #ShopSmall"></a>
        </section>


        <section id="credit">
          <h5>We accept the following credit cards.</h5>
          <img src="/assets/badge-credit.png" alt="We accept American Express, Visa, MasterCard, and Discover Card.">
        </section>


        <section id="pci">
          <h5>This site meets all 6 categories of PCI security compliance&nbsp;standards.</h5>
          <a href="https://www.shopify.com/pci-compliant" target="_black"><img src="assets/badge-pci.png" alt="PCI DSS Compliant"></a>
        </section>


        <section id="tc">
          Copyright &copy; 2018 Pamela Kay. All&nbsp;rights&nbsp;reserved.<br />
          <a href="/pages/privacy/">Privacy&nbsp;Policy</a> <span class="pipe"></span>
          <a href="/pages/terms/">Terms&nbsp;of&nbsp;Use</a> <span class="pipe"></span>
          <a href="/pages/returns/">Return&nbsp;Policy</a>
        </section>
      </div>
    </footer>
    <!--/#footer -->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/functions.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $.getJSON( "/assets/data.json", function( data ) {
          // var items = [];
          // $.each( data, function( key, val ) {
          //   items.push( "<li id='" + key + "'>" + val + "</li>" );
          // });
          //
          // $( "<ul/>", {
          //   "class": "my-new-list",
          //   html: items.join( "" )
          // }).appendTo( "body" );
        });
      });
    </script>
  </body>
</html>
