<header id="header">
  <div id="msg">Use promo code <strong>FREEDOM18</strong> for a 20% discount. Expires&nbsp;7/22/18.</div>

  <div id="account">
    <div id="login">
      Hello, Michael. <a href="#" id="logout">Log Out</a>
    </div>
    <a href="/cart/" id="cart" title="Your shopping bag"><div id="cart-items">20</div><div id="cart-amount">$200.00 USD</div></a>
  </div>

  <button id="hamburger-menu" class="toggle-hamburger-menu hover-animation-background"><span class="icon" alt="Menu" title="Menu"></span></button>
  <div id="branding"><a href="/"><img src="/assets/img/logo_20171016.png" class="logo" alt="Pamela Kay | Hand Made ~ Like You" title="Pamela Kay | Hand Made ~ Like You"></a></div>
</header>
<!--/#header -->
