<nav id="nav-primary">
  <div class="container">
    <section id="collections">
      <ul>
        <li><a href="/collections/ring-pouches/">Ring Pouches</a></li>
        <li><a href="/collections/wallets/">Wallets</a></li>
        <li><a href="/collections/wristlets/">Wristlets</a></li>
      </ul>
    </section>


    <section id="social">
      <ul>
        <li><a href="https://www.instagram.com/pamelakay_co/" target="_blank" id="instagram"><span class="fa fa-instagram"></span></a></li>
        <li><a href="https://www.facebook.com/pamelakay.co/" target="_blank" id="facebook"><span class="fa fa-facebook"></span></a></li>
        <li><a href="https://www.pinterest.com/pamelakay_co/" target="_blank" id="pinterest"><span class="fa fa-pinterest"></a></li>
        <li><a href="https://twitter.com/pamelakay_co/" target="_blank" id="twitter"><span class="fa fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/company/pamela-kay/" target="_blank" id="linkedin"><span class="fa fa-linkedin"></a></li>
      </ul>
    </section>
  </div>
</nav>
<!--/#nav-primary -->
<div id="overlay" class="toggle-hamburger-menu"></div>
