<aside id="value-prop" class="container">
  <div>
    <h4>Uniquely beautiful</h4>
    <p>Materials are processed and sourced in varying ways&mdash;some which are exotic. These materials come in limited quantity&mdash;the making of a truly unique product!</p>
  </div>

  <div>
    <h4>Made-to-order within 48 hours</h4>
    <p>We put a lot of care and attention to every detail of your experience with us. Your order will be ready for shipment (almost) right away.</p>
  </div>

  <div>
    <h4>Expedited shipping options</h4>
    <p>We understand some of you have a special event or trip coming soon. We provide various options to expedite delivery&mdash;including overnight delivery.</p>
  </div>
</aside>
<!--/#value-prop -->
